<h2>Author Profile</h2>

<h3>{{authorItem.firstName}} {{authorItem.lastName}}</h3>

<img src="{{authorItem.pictureUrl}}" />

<ul>
  <li>{{authorItem.nationality}}</li>
  <li>Birthday {{authorItem.birthday}}</li>
</ul>
