<h2>{{bookItem.title}}</h2>
<p>
  by
  <a href="/author/{{bookItem.author._id}}">
    {{bookItem.author.firstName}} {{bookItem.author.lastName}}
  </a>
</p>

<p>{{bookItem.description}}</p>

<p>Rated {{bookItem.rating}} / 10</p>
<p>Added on {{bookItem.createdAt}}</p>

<a href="/book/{{bookItem._id}}/edit">Edit This Book</a>
<a href="/book/{{bookItem._id}}/delete">Delete This Book</a>

<hr />

<h3>Reviews</h3>

<h4>Add a Review</h4>

<form method="POST" action="/book/{{bookItem._id}}/process-review">
  <input type="text" name="user" placeholder="Your name..." />
  <br />

  <input type="text" name="comments" placeholder="Comments..." />
  <br />

  <button>Submit Review</button>
</form>

<ul>
  {{#each bookItem.reviews}}
    <li>
      <p>{{this.user}} says:</p>
      <p>{{this.comments}}</p>
    </li>
  {{else}}
    <p>No reviews yet. Be the first to write one!</p>
  {{/each}}
</ul>
