<h2>Book List</h2>

<ul>
  {{#each bookArray}}
    <li>
      <h3>{{this.title}}</h3>
      <p>
        by
        <a href="/author/{{this.author._id}}">
          {{this.author.firstName}} {{this.author.lastName}}
        </a>
      </p>

      <a href="/read?b={{this._id}}">See Details (YouTube style)</a>
      <a href="/book/{{this._id}}">See Details (Amazon style)</a>
    </li>
  {{else}}
    <li>No books yet...</li>
  {{/each}}
</ul>
